.createAccount {
    padding-top: 1em;
    width: 15em;
}

.title {
    font-weight: 500;
}

.createAccountForm div {
    padding: 0.5em 0;
}

.createAccountForm input {
    display: block;
    padding: 0.5em;
    border-radius: 0.5em;
    border: #999999 0.1em solid;
    margin: 0.5em 0;
    width: 100%;
    box-sizing: border-box;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.createAccountButton, .logInButton {
    transition: 0.5s;
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    background: linear-gradient(to top left, #61dbfb, #a32cdf);
    color: #ffffff;
}

.createAccountButton:hover, .logInButton {
    border: #a32cdf 0.1em solid;
    background: #ffffff;
    color: #a32cdf;
}

.logInButton:hover {
    background: #a32cdf;
    color: #ffffff;
}