.scheduleContainer {
    background: #eef0f2;
    width: 100%;
}

.schedule {
    background: #ffffff;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
    padding: 2em;
    width: 100%;
    box-sizing: border-box;

}

.scheduleVerticalContainer {
    display: flex;
}

@media only screen and (max-width: 40em) {
    .schedule {
        padding: 0.5em 0.1em;
        /*border-radius: 0;*/
    }
}