div a {
    text-decoration: none;
    color: #000000;
}

.shownMenu, .hiddenMenu {
    background: #eef0f2;
    padding: 1.3em 1em;
    /*min-height: 100vh;*/
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.mainMenu {
    height: 100%;
}

.mainMenu img {
    height: 1.5em;
}

.linkContainer, .selectedLinkContainer {
    transition: 0.5s;
    box-sizing: border-box;
    padding: 1em 2em;
    margin: 0.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1em;
}

.linkContainer:hover, .selectedLinkContainer {
    background: #ffffff99;
}

.linkContainer img, .selectedLinkContainer img {
    margin-right: 1em;
}