div a {
    text-decoration: none;
    color: #000000;
}

.shownMenu, .hiddenMenu {
    background: #eef0f2;
    padding: 1.3em 2em 2em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainMenu {
    height: 100%;
}

.linkContainer {
    padding: 1em;
    display: flex;
    align-items: center;
    /*justify-content: space-between;*/
    text-align: left;
    width: fit-content;
    box-sizing: border-box;

}

.linkContainer img {
    height: 1.5em;
    padding: 0 0.5em;
}