div a {
    text-decoration: none;
    color: #000000;
}

.shownMenu, .hiddenMenu {
    background: #eef0f2;
    padding: 1.3em 2em 2em;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.mainMenu {
    height: 100%;
}

.linkContainer {
    padding:  1em 0;
}