.logoImg {
    /*background: red;*/
    /*padding: 0.5em;*/
    width: 1.5em;
    height: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.5em;
    color: #fff;
    font-weight: 600;
    font-size: 1.5em;
    background: linear-gradient(to top left, #6e51d9, #b0e212);
}

.logo {
    padding: 1em;
    display: flex;
    align-items: center;
}

.title {
    padding: 0.5em;
}