.scheduleHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.newButton {
    transition: 0.5s;
    background: #a32cdf;
    color: #ffffff;
    border: none;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    background: linear-gradient(to top left, #61dbfb, #a32cdf);
}

.newButton:hover {
    border: #a32cdf 0.1em solid;
    background: #ffffff;
    color: #a32cdf;
}

.title {
    font-size: 1.5em;
    font-weight: 500;
}

.calendarTitleHeader {
    display: flex;
    justify-content: space-between;
    padding: 1.5em 0;
    align-items: center;
}

.month, .year, .day {
    font-weight: 500;
}

.selectDayContainer, .selectDayButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.selectDayButton, .selectedDay {
    background: #eef0f2;
    border: none;
    border-radius: 0.3em;
    height: 2.5em;
    display: flex;
    align-items: center;
    margin: 0.5em 0.2em;
    padding: 0 0.8em;
}

.line {
    height: 0.1em;
    width: 100%;
    box-sizing: border-box;
    background: #eef0f2;
}

.selectWeek {
    display: flex;
    align-items: center;
}

.selectWeek button {
    border: transparent 0.1em solid;
    border-radius: 0.5em;
    padding: 0.5em;
    margin: 0.2em;
    font-weight: 500;
    width: 2.5em;
}

.selectWeek button:hover {
    border-color: #a32cdf;
    color: #a32cdf;
}

.selectWeek span {
    padding: 0 0.5em;
}

.currentDoctor {
    text-align: left;
}

.currentDoctor span {
    font-weight: 500;
    padding: 0.5em;
}

@media only screen and (max-width: 40em) {
    .scheduleHeader {
        padding: 1em;
        box-sizing: border-box;
        /*flex-direction: column;*/
    }

    .calendarTitleHeader {
        flex-direction: column;
    }

    .selectDayContainer {
        flex-direction: column;
    }

    .selectWeek {
        flex-wrap: wrap;
        justify-content: center;
    }

    .weekLabel {
        width: 100%;
        box-sizing: border-box;
        margin-top: 0.5em;
    }
}