.doctorsContainer {
    background: #eef0f2;
    min-height: 100vh;
    width: 100%;
    text-align: left;
}

.doctors {
    padding: 2em;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
    border-top-left-radius: 2em;
    border-bottom-left-radius: 2em;
}

.title {
    font-size: 1.5em;
    font-weight: 500;
    padding-bottom: 1em;
}

.doctorsList {
    padding-top: 0.5em;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.noDoctorsMessage {
    margin-top: 1em;
}

@media only screen and (max-width: 40em) {
    .doctorsContainer {
        /*text-align: center;*/
    }

    .doctorsList {
        justify-content: center;
    }
}