.scheduleItem, .scheduleActiveItem{
    padding: 0.5em;
    box-sizing: border-box;
    border-bottom: #eef0f2 0.1em solid;
    border-right: #eef0f2 0.1em solid;
    height: 8.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.scheduleActiveItem {
    background: #a32cdf20;
}

.patientInfo {
    text-align: left;
}

.patient {
    font-weight: 600;
    color: #a32cdf;
}

.description {
    font-size: 0.9em;
}

.time {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 0.8em;
}

@media only screen and (max-width: 40em) {
    .scheduleItem, .scheduleActiveItem {
        height: 4em;
        justify-content: center;
        align-items: center;
    }

    .patientInfo {
        display: none;
    }

    .time {
        width: max-content
    }
}