.scheduleItem, .scheduleActiveItem{
    padding: 0.5em;
    box-sizing: border-box;
    /*border-bottom: #999999 0.1em solid;*/
    /*border-right: #999999 0.1em solid; */
    border-bottom: #eef0f2 0.1em solid;
    border-right: #eef0f2 0.1em solid;
    height: 8.3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /*margin: 0.2em;*/
}

.scheduleActiveItem {
    background: #a32cdf20;
    /*border: #a32cdf 0.1em solid;*/
    /*border-bottom: #a32cdf 0.1em solid;*/
    /*border-right: #a32cdf 0.1em solid;*/
}

.patientInfo {
    text-align: left;
}

.patient {
    font-weight: 600;
    color: #a32cdf;
}

.description {
    font-size: 0.9em;
}

.time {
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    font-size: 0.8em;
}