header {
    background: #eef0f2;
    padding: 1em 1em 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputContainer{
    background: #ffffff;
    padding: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: space-between;
}

.inputContainer img {
    height: 1.5em;
}

.searchInput {
    border: none;
}

.searchInput::placeholder {
    color: #00000044;
}

.loginButton {
    border: none;
    padding: 0.5em 2em;
    border-radius: 0.5em;
    /*background: #4ca9df;*/
    /*background: #a32cdf;*/
    background: linear-gradient(to top left, #61dbfb, #a32cdf);
    color: #ffffff;
}