.sidebar {
    border-left: #eef0f2 0.1em solid;
    padding: 1em;
}

@media only screen and (max-width: 40em) {
    .sidebar {
        background: #ffffff;
        /*background: red;*/
        position: fixed;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        top: 0;
        bottom: 0;
    }
}