.App {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "menu main";
}

.mainContent {
    grid-area: main;
}

.menu {
    grid-area: menu;
}

.content {
    display: flex;
    justify-content: space-between;
}